GOOGLE_APPLICATION_CREDENTIALS=./google-credentials.json
MCP_LOG_LEVEL="DEBUG"
 # ["stdio", "sse", "streamable-http"]  https://gofastmcp.com/deployment/running-server
MCP_TRANSPORT=studio#"streamable-http"
# MCP_PORT="8000"
# MCP_HOST="0.0.0.0"
# MCP_PATH="/mcp"